# My first attempt to write a yaml pipeline
trigger:
- main

pool:
 vmImage: ubuntu-latest

steps:
  - task: DotNetCoreCLI@2
    displayName: 'Restoring dependencies'
    inputs:
      command: restore #dotnet restore
      projects: '**/*.csproj'

# Create a build task.
  - task: DotNetCoreCLI@2
    displayName: 'Build the project'
    inputs:
      command: build # dotnet build --no-restore --configuration Release
      arguments: '--no-restore --configuration Release'
      projects: '**/*.csproj'

# Publish the project(create an artifact)
  - task: DotNetCoreCLI@2
    displayName: 'Publish the project, create an artifact'
    inputs:
      command: publish #dotnet publish --no-restore --configuration Release --output $(???)/Release
      projects: '**/*.csproj'
      publishWebProjects: false
      arguments: '--no-restore --configuration Release --output $(Build.ArtifactStagingDirectory)/Release'
      zipAfterPublish: true

# Publish the artifact to our drop folder
  - task: PublishBuildArtifacts@1
    displayName: 'Publish the artifact to our drop folder'
    condition: succeeded()

# Download the built artifact
  - task: DownloadBuildArtifacts@1
    displayName: 'Downloading the built artifact'
    inputs:
      buildType: current
      downloadType: single
      artifactName: 'drop'
      itemPattern: '**/*.zip'
      downloadPath: '$(System.ArtifactsDirectory)' 